{% load static %}
<!-- Footer section -->
<footer class="footer-section spad pb-0">
  <div class="container">
    <!-- <div class="row text-white spad">
      <div class="col-lg-3 col-sm-6 footer-widget">
        <h4>Engeneering</h4>
        <ul>
          <li><a href="#">Applied Studies</a></li>
          <li><a href="#">Computer Engeneering</a></li>
          <li><a href="#">Software Engeneering</a></li>
          <li><a href="#">Informational Engeneering</a></li>
          <li><a href="#">System Engeneering</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 footer-widget">
        <h4>Business School</h4>
        <ul>
          <li><a href="#">Applied Studies</a></li>
          <li><a href="#">Computer Engeneering</a></li>
          <li><a href="#">Software Engeneering</a></li>
          <li><a href="#">Informational Engeneering</a></li>
          <li><a href="#">System Engeneering</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 footer-widget">
        <h4>Art & Design</h4>
        <ul>
          <li><a href="#">Graphic Design</a></li>
          <li><a href="#">Motion Graphics & 3D</a></li>
          <li><a href="#">Classichal Painting</a></li>
          <li><a href="#">Sculpture</a></li>
          <li><a href="#">Fashion Design</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 footer-widget">
        <h4>Higher Education</h4>
        <ul>
          <li><a href="#">Applied Studies</a></li>
          <li><a href="#">Computer Engeneering</a></li>
          <li><a href="#">Software Engeneering</a></li>
          <li><a href="#">Informational Engeneering</a></li>
          <li><a href="#">System Engeneering</a></li>
        </ul>
      </div>
    </div> -->
    <div class="footer-bottom">
      <div class="footer-logo">
        <a href="#">
          <img src="{% static 'img/logo.png' %}" alt="">
        </a>
      </div>
      <ul class="footer-menu">
        <li><a href="{% url 'pages:home' %}">홈</a></li>
        <li><a href="{% url 'pages:about' %}">About 런잉</a></li>
        <li><a href="{% url 'groups:list' %}">스터디 그룹</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="text-white text-center">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> <strong>LearnEng </strong>All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>	
      </div>
      
    </div>
  </div>



</footer>
<!-- Footer section end -->