{% extends 'base.html' %}

{% block title %}
  | 스터디 찾기
{% endblock %}

{% block content %}

<!-- Showcase -->
<section id="list" class="showcase">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h1 class="display-4 mb-4">나에게 맞는 스터디를 찾아보세요!</h1>
				{% include 'partials/_search_form.html' %}
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
{% include 'partials/_breadcrumb.html' with current="스터디 찾기" %}

<!-- Listings -->
<section id="listings" class="py-4">
  <div class="container">
    <!-- Search Queries -->
    {% if queries %}
    <div class="row">
      <div class="col mb-4 text-center">
      {% for query in queries %}
        {% if query != '' %}
         <span class="h4">'{{ query }}'</span>  
        {% endif %}
      {% endfor %}<span class="h5">에 대한 검색결과</span>
      <hr>
      </div>
    </div>
    {% endif %}
		<div class="row">        
			{% if group_list %}
			{% for group in group_list %}
				{% include 'snippets/_card_group.html' with group=group %}
			{% endfor %}
			{% else %}
			<div class="col-md-12">
				<p>No groups Available</p>
			</div>
			{% endif %}
		</div>
		<!-- Pagination -->
    {% include 'partials/_paginator.html' %}
  </div>
</section>

{% endblock %}