{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
  | {{ group.name }}
{% endblock %}

{% block content %}
<section id="detail" class="showcase">
  <div class="container py-4">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">{{ group.name }}</h1>
        <p class="lead">
					<i class="fas fa-map-marker"></i> <span class="mr-3">{{ group.location }}</span>
					<i class="fas fa-balance-scale"></i> <span class="mr-3">{{ group.level }}</span>
					<i class="fas fa-calendar-check"></i> <span class="">{{ group.day }}</span>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'pages:home' %}">홈</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'groups:list' %}">스터디 찾기</a>
        </li>
        <li class="breadcrumb-item active">...</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Listing -->
<section id="listing" class="py-4">
  <div class="container">
		<div class="row">
			<div class="col-md-8">
				{% if group.leader == request.user %}
					<div class="btn-group float-right">
						<a href="{% url 'groups:update' pk=group.pk %}" class="float-right btn btn-success mb-4">수정하기</a>	
						<a href="{% url 'groups:delete' pk=group.pk %}" class="float-right btn btn-danger mb-4">삭제하기</a>	
					</div>
				{% else %}
					{% if request.user.is_member %}
            {% if request.user not in group.members.all %}
              {% if group.members.count < group.size %}
              <a href="{% url 'groups:join' pk=group.pk %}" class="float-right btn btn-success mb-4">참여하기</a>
              {% else %}
              <a href="#" class="float-right btn btn-warning mb-4 disabled">정원 초과</a>
              {% endif %}
						{% else %}
							<a href="{% url 'groups:leave' pk=group.pk %}" class="float-right btn btn-danger mb-4">떠나기</a>										
						{% endif %}					
					{% endif %}		
				{% endif %}
			</div>
		</div>
		<div class="row">
      <!-- Group detail section -->
			<div class="col-md-8">
        <!-- Main Image -->
        <img src="{{ group.photo.url }}" alt="" class="img-main img-fluid mb-3">
       
        <!-- Fields -->
        <div class="row mb-5 fields">
          <div class="col-md-6">
            <ul class="list-group list-group-flush">
							<li class="list-group-item text-secondary">
								<i class="fas fa-map-marker"></i> 지역:
								<span class="float-right">{{ group.location }}
								</span>
							</li>
							<li class="list-group-item text-secondary">
								<i class="fas fa-calendar-check"></i> 요일:
								<span class="float-right">{{ group.day }}
								</span>
							</li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-graduation-cap"></i> 기간:
                <span class="float-right">{{ group.duration }}주</span>
              </li>              
              <li class="list-group-item text-secondary">
                <i class="fas fa-user"></i> 정원:
                <span class="float-right">{{ group.members.count }} / {{ group.size }}명</span>
              </li>
            </ul>
          </div>
          <div class="col-md-6" id="detail-second">
            <ul class="list-group list-group-flush">
							<li class="list-group-item text-secondary">
								<i class="fas fa-calendar-alt"></i> 시작일:
								<span class="float-right">{{ group.start_date }}</span>
							</li>
							<li class="list-group-item text-secondary">
								<i class="fas fa-clock"></i> 시간:
								<span class="float-right">{{ group.time }}</span>
							</li>
							<li class="list-group-item text-secondary">
								<i class="fas fa-money-check"></i> 참여비:								
								{% if group.price == 0 %}
									<span class="float-right">무료</span>
								{% else %}
										<span class="float-right">{{ group.price }}만원</span>
								{% endif %}									
							</li>
              <li class="list-group-item text-secondary">
									<i class="fas fa-balance-scale"></i> 레벨:
                <span class="float-right">{{ group.level }}</span>
              </li>
            </ul>
          </div>
        </div>

        <!-- Description -->
        <div class="row mb-5" id="study-intro">
          <div class="col-md-12">
						<h4>스터디 소개</h4>
						<hr>
						<p>{{ group.description }}</p>
          </div>
        </div>

          
      </div>



      <!-- Leader profile section -->
      <div class="col-md-4">
        <div class="card mb-3">
					<div class="card-header h5 bg-secondary text-white">리더 프로필</div>
          <img class="card-img-top" src="{{ group.leader.profile.photo.url }}" alt="">
          <div class="card-body">
						<h4 class="text-secondary">{{ group.leader.name }}</h6>
						<p class="card-text">{{ group.leader.profile.bio }}</p>
          </div>
        </div>
        <!-- <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">질문하기</button> -->
      </div>


    </div>

     <!-- Comment -->
    <div class="row my-5" id="leader-review">
      <div class="col-md-8">
        <h4>리더 리뷰</h4>
        <hr>
        <form method="POST" action="{% url 'comments:create' %}">{% csrf_token %}
          {{ form|crispy }}
          <input type="hidden" name="next" value="{{ request.path }}">
          <input type="hidden" name="leader_id" value="{{ group.leader.id }}">
          <button class="btn btn-block btn-secondary mb-3">리뷰 달기</button>
        </form>

        {% for comment in comments %}
          {% include 'comments/_comment.html' with comment=comment %}
        {% endfor %}
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</section>

{% endblock %}