{% extends 'base.html' %}
{% load static %}

{% block title %}
  | 내 스터디 목록
{% endblock %}

{% block content %}
<!-- Showcase -->
<section id="mygroup" class="showcase">
  <div class="container py-5">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-5">내 스터디</h1>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
{% include 'partials/_breadcrumb.html' with current="내 스터디" %}

<section id="about" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <h4>리드 중인 스터디</h4>
        <hr>
        {% if groups %}
          <div class="row">
            
            {% for group in groups %}
            <div class="col-md-6">
              <div class="card border-secondary mb-3">
                <div class="card-header text-center h4"><a href="{{ group.get_absolute_url }}">{{ group.name }}</a></div>
                <div class="card-body text-secondary">
                  {% if group.members.all %}
                  <p>{{ group.members.count }}명의 멤버가 참여 중입니다.</p>
                  {% for member in group.members.all %}
                  <ul class="list-group mb-2">
                    <li class="list-group-item list-group-item-secondary"><i class="far fa-user mr-2"></i>{{ member.name }}</li>
                    <li class="list-group-item"><i class="fas fa-mobile-alt mr-2"></i>{{ member.contact }}</li>
                  </ul>
                  {% endfor %}
                  {% else %}
                  <p>참여 중인 멤버가 없습니다.</p>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
              
          </div>
        {% else %}
          <p>현재 리드 중인 스터디 그룹이 없습니다.</p>
        {% endif %}
    </div>
  </div>
</section>

{% endblock %}