{% extends 'base.html' %}
{% load static %}

{% block title %}
  | 내 스터디 목록
{% endblock %}

{% block content %}
<!-- Showcase -->
<section id="mygroup" class="showcase">
  <div class="container py-5">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-5">My Study</h1>
      </div>
    </div>
  </div>
</section>


<!-- Breadcrumb -->
{% include 'partials/_breadcrumb.html' with current="내 스터디" %}

<section id="about" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <h4>참여 중인 스터디</h4>
        <hr>
        {% if groups %}
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">스터디</th>
              <th scope="col" class="table-hide">리더</th>
              <th scope="col" class="table-hide">시작일</th>
            </tr>
          </thead>
          <tbody>
            {% for group in groups %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><a href="{{ group.get_absolute_url }}">{{ group.name }}</a></td>
              <td class="table-hide">{{ group.leader.name }}</td>
              <td class="table-hide">{{ group.start_date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
          <p>현재 참여 중인 스터디가 없습니다.</p>
        {% endif %}
    </div>
  </div>
</section>

{% endblock %}