{% extends 'base.html' %}

{% block content %}
  <section id="group-list">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          
          <img src="{{ request.user.profile.profile_picture.url }}" alt="">
          <h1>My Groups</h1>
          <ul>
          {% for group in groups %}
            <li>
              <h4><a href="{{ group.get_absolute_url }}">{{ group.name }}</a></h4>
                <p>{{ group.leader.name }}</p>
            </li>
                            
          {% endfor %}
          </ul>          
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
  