{% extends 'base.html' %} 
{% load static %}
{% block title %}
  | 회원가입
{% endblock %}

{% block content %}

<section id="register" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-9 mx-auto">
        <div class="card card--register">
          <div class="card-header bg-secondary text-white">
            <h4><i class="fas fa-user-plus"></i> 회원가입</h4>
          </div>
          <div class="card-body">
							<a href="{% url 'accounts:leader_signup' %}" class="btn btn-outline-secondary btn-block">리더로 가입하기</a>
							<a href="{% url 'accounts:member_signup' %}" class="btn btn-secondary btn-block">멤버로 가입하기</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}