{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="{% static 'img/bg.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-8 mx-auto">
					<div class="hero-text text-white text-center">
          <h2>Sign Up</h2>
          <a href="{% url 'pages:teacher_signup' %}" class="btn btn-info btn-block">I'm a teacher</a>
          <a href="{% url 'pages:student_signup' %}" class="btn btn-secondary btn-block">I'm a student</a>
				</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

{% endblock content %}
  