body {
  font-family: 'Nanum Gothic', sans-serif; }
  body .mj {
    font-family: 'Nanum Myeongjo', serif; }
  body .pen {
    font-family: 'Nanum Pen Script', cursive; }
  body .brush {
    font-family: 'Nanum Brush Script', cursive; }
  body .coding {
    font-family: 'Nanum Gothic Coding', monospace; }

img {
  width: 100%; }

.logo {
  width: 100px; }

.logo:hover {
  width: 110px; }

.navbar {
  min-height: 75px;
  opacity: 0.9; }

.list-group-item {
  padding: 0.5rem 0.5rem !important; }

a#to-signup {
  color: blue;
  font-size: 0.9rem;
  margin-bottom: 0.25rem; }

.card .img-wrapper {
  position: relative;
  overflow: hidden;
  height: 200px;
  display: flex;
  justify-content: center; }
  .card .img-wrapper img {
    height: 100%; }
  .card .img-wrapper .card-img-overlay {
    position: absolute; }
.card .card-body .group-heading {
  height: 120px; }

#groups .card-body:hover {
  background: #af54a7;
  color: #fff; }
  #groups .card-body:hover i {
    color: #fff !important; }
  #groups .card-body:hover .btn {
    background: #fff !important;
    color: #af54a7; }

.showcase {
  position: relative;
  min-height: 300px;
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .showcase#home {
    background: url(../img/showcase-home.jpg) no-repeat top center fixed/cover; }
  .showcase#about {
    background: url(../img/showcase-about.jpg) no-repeat top center fixed/cover; }
  .showcase#profile {
    background: url(../img/showcase-profile.jpg) no-repeat top center fixed/cover; }
  .showcase#mygroup {
    background: url(../img/showcase-mygroup.jpg) no-repeat top center fixed/cover; }
  .showcase#detail {
    background: url(../img/showcase-detail.jpg) no-repeat top center fixed/cover; }
  .showcase#list {
    background: url(../img/building.jpg) no-repeat top center fixed/cover; }
  .showcase#stats {
    background: url(../img/showcase-home.jpg) no-repeat top center fixed/cover; }
  .showcase #home-search {
    border-radius: 15px; }
  .showcase .overlay {
    height: 100%;
    width: 100%;
    background: rgba(51, 51, 51, 0.7);
    padding: 3rem; }
  .showcase#inner::before, .showcase#about::before, .showcase#list::before, .showcase#mygroup::before, .showcase#profile::before, .showcase#stats::before, .showcase#detail::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(51, 51, 51, 0.7); }

@media (max-width: 991px) {
  .display-4 {
    font-size: 3rem; }

  #member-list {
    margin-top: 10px !important; } }
@media (max-width: 768px) {
  .display-4 {
    font-size: 2.5rem; }

  h4 {
    font-size: 1.25rem; }

  .breadcrumb {
    margin-bottom: 0 !important; }

  .showcase {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem; }
    .showcase .overlay {
      padding: 1.5rem; }

  #study-create {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important; }

  #list {
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem; }

  #groups {
    padding-top: 2rem !important;
    padding-bottom: 1rem !important; }
    #groups h3 {
      margin-bottom: 1rem !important; }
    #groups #subheading {
      margin-bottom: 2rem !important; }

  #message {
    margin-top: 1rem; }

  .card .img-wrapper {
    height: auto; }
  .card .card-body .group-heading {
    height: auto; } }
@media (max-width: 576px) {
  .display-4 {
    font-size: 1.75rem; }

  #detail-second {
    margin-top: 30px; }

  .table-hide {
    display: none; }

  #listing .btn {
    padding: 0.25rem; } }
