{% extends "pinax/messages/base.html" %}
{% load crispy_forms_tags %}
{% block body_class %}{{ block.super }} pinax-messages-create{% endblock %}


{% block content %}
<div class="pinax-messages-create-container">
    <div class="container">
        <h2>New Message</h2>

        <form class="comment-form" action="{% url "pinax_messages:message_create" %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-actions">
                <a href="{% url "pinax_messages:inbox" %}" class="cancel">Cancel</a>
                <button>Send</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}
