///////////////////// COLOR VARIABLES ///////////////////////////
$dark-overlay: rgba(51, 51, 51, 0.8);

//////////////////// FONTS //////////////////////
body {
  font-family: 'Nanum Gothic', sans-serif;
  
  .mj {
    font-family: 'Nanum Myeongjo', serif;
  }
  
  .pen {
    font-family: 'Nanum Pen Script', cursive;
  }
  
  .brush {
    font-family: 'Nanum Brush Script', cursive;
  }
  
  .coding {
    font-family: 'Nanum Gothic Coding', monospace;
  
  }
}

///////////////////////////////////////////////
img {
  width: 100%;
}

.logo {
  width: 100px;
}

.logo:hover {
  width: 110px;
}

.navbar {
  min-height: 75px;
  opacity: 0.9;
}


///////////////////////////// CARD //////////////////////////////
.card {
  .img-wrapper {
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 100%;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    .card-img-overlay {
      position: absolute;
    }
  }

  .card-body {
    .group-heading {
      height: 120px;
    }
  }
}

#groups {
  .card-body:hover {
    background: #af54a7;
    color: #fff;

    i {
      color: #fff !important;
    }

    .btn {
      background: #fff !important;
      color: #af54a7;
    }
  }

}

//////////////////// SHOWCASE ///////////////////////
.showcase {
  position: relative;
  min-height: 300px;
  color: #fff;
	padding-top: 3rem;
	padding-bottom: 3rem;

  // TOGETHER WITH
  &#home {
    background: url(../img/showcase-home.jpg) no-repeat top center fixed/cover;
  }

  &#about {
    background: url(../img/showcase-about.jpg) no-repeat top center fixed/cover;
  }

  &#profile {
    background: url(../img/showcase-profile.jpg) no-repeat top center fixed/cover;
  }

  &#mygroup {
    background: url(../img/showcase-mygroup.jpg) no-repeat top center fixed/cover;
  }

  &#detail {
    background: url(../img/showcase-detail.jpg) no-repeat top center fixed/cover;
  }

  &#list {
    background: url(../img/building.jpg) no-repeat top center fixed/cover;
  }

  &#stats {
    background: url(../img/showcase-home.jpg) no-repeat top center fixed/cover;
  }

  // NESTED
  #home-search {
    border-radius: 15px;
  }

  .overlay {
    height: 100%;
    width: 100%;
    background: $dark-overlay;
    padding: 3rem;
  }

  &#inner::before,
  &#about::before,
  &#list::before,
  &#mygroup::before,
  &#profile::before,
  &#stats::before,
  &#detail::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: $dark-overlay;
  }
}

////////////////////////// MEDIA /////////////////////////////

/////// LESS THAN //////
////////// lg //////////
@media (max-width: 991px) {
	.display-4 {
		font-size: 3rem;
	}
}

////////// md //////////
@media (max-width: 768px) {
	.display-4 {
		font-size: 2.5rem;
  }
  
  h4 {
    font-size: 1.25rem;
  }

  .breadcrumb {
		margin-bottom: 0 !important;
	}

	.showcase {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;

		.overlay {
			padding: 1.5rem;
		}
	}

	#study-create {
		padding-top: 1.5rem !important;
		padding-bottom: 1.5rem !important;
	}

	#list {
		padding: 1rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	#groups {
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;

		h3 {
			margin-bottom: 1rem !important;
		}
  }

  .card {
    .img-wrapper {
      height: 250px !important;
    }
  }
}

////////// sm //////////
@media (max-width: 576px) {
	.display-4 {
		font-size: 1.75rem;
	}

  .card {
    .img-wrapper {
      height: 200px !important;
    }
  }
  
}
