{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
  | 로그인
{% endblock %}

{% block content %}

<section id="login" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-9 mx-auto">
        <div class="card">
          <div class="card-header bg-secondary text-white">
            <h4><i class="fas fa-sign-in-alt"></i> 로그인</h4>
          </div>
          <div class="card-body">
						<form method="post">
							{% csrf_token %}
              {{ form|crispy }}
              <a href="{% url 'accounts:signup' %}" class="float-right" id="to-signup"><i class="fas fa-user-plus"></i> 회원가입</a>
							<button type="submit" class="btn btn-secondary btn-block">확인</button>
						</form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}